<div class="col-md-6 col-md-offset-3">
        <table class="table table-responsive table-striped">
            <!--<th>
                <td>Street</td>
                <td>Intersection</td>
                <td>City</td>
                <td>State</td>
                <td>Zip</td>
                <td>Created</td>
                <td>Options</td>
            </th>-->
            <tr ng-repeat="address in vm.ClientAdresses">
                <td>{{address.street}}</td>
                <td>{{address.intersection1}}</td>
                <td>{{address.city}}</td>
                <td>{{address.state}}</td>
                <td>{{address.zip}}</td>
                <td>{{address.dateStamp | date:'dd/MM/yyyy'}}</td>
                <td><a ng-href="#editor/{{address.id}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
                <td><a ng-href="#remove/{{address.id}}" class="btn btn-sm btn-danger"><i class="fa fa-trash-o <fa-lg></fa-lg>" aria-hidden="true"></i></a></td>
            </tr>   
        </table>
        
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <form novalidate name="newAddressClientForm" ng-submit="vm.addAddressClient()">
            <div class="form-group">
                <label for="street">Street</label>
                <input class="form-control" type="text" id="street" name="street" ng-model="vm.newAddress.street" required ng-minlength="2"/>
                <span ng-show="newAddressClientForm.street.$error.required" class="text-warning">Street is required.</span>
                <span ng-show="newAddressClientForm.street.$error.minlength" class="text-warning">Must be at least 2 characters.</span>
            </div>
            <div class="form-group">
                <label for="intersection1">Instersection</label>
                <input class="form-control" type="text" id="intersection1" name="intersection1" ng-model="vm.newAddress.intersection1"/>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" id="city" name="city" ng-model="vm.newAddress.city" required ng-minlength="2"/>
                <span ng-show="newAddressClientForm.city.$error.required" class="text-warning">City is required.</span>
                <span ng-show="newAddressClientForm.city.$error.minlength" class="text-warning">Must be at least 2 characters.</span>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input class="form-control" type="text" id="state" name="state" ng-model="vm.newAddress.state" required ng-minlength="2"/>
                <span ng-show="newAddressClientForm.state.$error.required" class="text-warning">State is required.</span>
                <span ng-show="newAddressClientForm.state.$error.minlength" class="text-warning">Must be at least 2 characters.</span>
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" id="zip" name="zip" ng-model="vm.newAddress.zip" required ng-minlength="4"/>
                <span ng-show="newAddressClientForm.zip.$error.required" class="text-warning">Zip is required.</span>
                <span ng-show="newAddressClientForm.zip.$error.minlength" class="text-warning">Must be at least 4 digits.</span>
            </div>
            <div class="form-group">
                <button type="submit"
                class="btn btn-sm btn-success"
                ng-disabled="newAddressClientForm.$invalid">
                <i class="fa fa-plus"></i> Add
                </button> 
            </div>
        </form>
    </div>