@{
    ViewData["Title"] = "Adress from Clients";
}

@section Scripts {
    <script src="https://use.fontawesome.com/d5ebb55257.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/js/reusableControls.js"></script>
    <script src="/js/app-address.js"></script>
    <script src="/js/addressEditorController.js"></script>
    <script src="/js/addressRemoveController.js"></script>
    <script src="/js/addressController.js"></script>   
}

<div class="row" ng-app="app-address">
    <div ng-view></div>
</div>